.App {
  text-align: center;
}
/* Admin starts  */
.loginForm{
  width:40%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin-right:auto;
  margin-left:auto;

}
.loginInput{
  margin-bottom:22px;
  font-size:1.5rem;
}
.loginBtn{
font-size:1.3rem;
}
/* Admin ends */